@charset "utf-8";
/* CSS Document */


/*put "filter" dropdown menu,inputbox,buttongroup,"new issue" button in a line*/	
#inline {
	width:60%;
	margin-left:0px;
	margin-top:20px;
	}
#requestBtn {
	margin-top:20px;
	
}
/*style of issue list*/
#rqstCtnr {
	margin-left:-15px;
	width:103%;
	}
#list {
	margin-top:25px;
	margin-left:-15px;
	width:103%;
}
/*style of dropdown menu in issue list*/
.dropdown {
	float:right;
	margin-left:20px;
	}
.dropdown-menu {
	width:300px;
}
.dropdown li
{
	width:90%;
	margin-left:15px;
	}
.divider
{
	width:100%;
	}
/*style of the information under issue list*/
#text {
	margin-left:300px;	
}
/* style of the first dropdwon menu in the issue list */
#group1 {
	float:right;
	}	
/* style of the first dropdwon menu in the issue list */
#group2 {
	float:right;
	display:none;
	}
/* style of the first checkbox in the issue list */
#check1
{
	float:left;
	}	
/* style of the first information in the issue list header*/
#info1
{
	float:left;
	}
/* style of the first checkbox in the issue list header*/	
#info2 {
	float:left;
	display:none;
	}	