<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>join us</title>
<link href="../public/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="sign.css" rel="stylesheet" type="text/css"/>
<style>
#nav1{
 padding-top:10px;
}
#registForm{
	padding-top:60px;
}
#table {
	width:800px;
	height:500px;
}

#subm {
	margin-left:250px;
	width:90px;
}
</style>
</head>

<body>

<nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#" id="nav1"><span><IMG src="../public/img/logo2.png" width=35 height=35></span></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li role="separator" class="divider"></li>
                <li class="dropdown-header">Nav header</li>
                <li><a href="#">Separated link</a></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<form name="registForm" id="registForm" method="post" action="#">
  <table name="table" align="center" id="table">
  <tr>
    <td colspan="3"><strong>How would you describe your level of programming experience?</strong></td>
  </tr> 
  <tr>
    <td class="side">
      <input type="radio" name="radioOption" id="radio1OPtion1" 
         value="option1" checked>Very experienced
    </td>
    <td> 
      <input type="radio" name="radioOption" id="radio1Option2" 
         value="option2" >Somewhat experienced
    </td>
    <td>
       <input type="radio" name="radioOption" id="radio1Option3" 
         value="option3" >Totally new to programming
    </td>
  </tr>
  <tr>
    <td colsppan="3"><strong>What do you plan to use Coauthor for?</strong></td>
  </tr>
  <tr>
    <td>
        <input type="checkbox" name="chkbxOptn" id="chkbxOptn1" 
         value="option1" checked>Project Management
    </td>
    <td>  
        <input type="checkbox" name="chkbxOptn" id="chbxOptn2" 
         value="option2" >School projects
    </td>
    <td>
        <input type="checkbox" name="chkbxOptn" id="chbxOptn3" 
         value="option3" >Design
    </td>
   </tr>
   <tr>  
      <td>
         <input type="checkbox" name="chkbxOptn" id="chbxOptn4" 
         value="option4" >Research
      </td>
      <td>
         <input type="checkbox" name="chkbxOptn" id="chbxOptn5" 
         value="option5" >Development
      </td>
      <td>
         <input type="checkbox" name="chkbxOptn" id="chbxOptn6" 
         value="option6" >Other(pelease specify)
       </td>
    </tr>
    <tr>
        <td colspan="3"><strong>What is closest to how you would describle yourslef?</strong></td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="radioOption" id="radio2OPtion1" 
         value="option1" checked>I'm a student
      </td>
      <td>
        <input type="radio" name="radioOption" id="radio2Option2" 
         value="option2" >I'm a hobbyist
      </td>
      <td>
        <input type="radio" name="radioOption" id="radio2Option3" 
         value="option3" >I'm a professional
      </td>
    </tr>
    <tr>
      <td>
        <input type="radio" name="radioOption" id="radio2Option4" 
         value="option4" >Other(please specify)
      </td>
    </tr>
    <tr>
      <td colspan="3"><strong>What are you interested in?</strong></td>
    </tr>
    <tr>
      <td colspan=3><textarea cols="120" rows="3" name="commet" id="textArea"></textarea></td>
    </tr>  
</table> 
</form>




  <button type="submit" class="btn btn-success" id="subm">submit</button>
  <button type="button" class="btn" id="skip">skip this step</button>



<footer class="footer" id='footer'>
  <div class="container">
        <p class="text-muted">Place sticky footer content here.</p>
      </div>
    </footer>
    
    <script src="../public/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
    <script src="../public/jquery-3.0.0/jquery-3.0.0.min.js"></script>
</body>
</html>
