<!--Edit by LiuChang,Liudi,Yuhaixu/Coauthor 2016/8/28 -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Personal Page</title>

<link href="../public/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../public/bootstrap-3.3.5-dist/css/bootstrap-theme.css" rel="stylesheet" type="text/css"/>
<link href="../../../../../Desktop/201603131609/dist/css/bootstrap-markdown-editor.css" rel="stylesheet" type="text/css" />


<style>
 #editor {
	 
	 margin-top:50px;
	 width:800px;
	 height:400px;
	 }
</style>
<script type="text/javascript"  src="../public/jquery-3.0.0/jquery-3.0.0.min.js"></script>
<script type="text/javascript"  src="../public/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
<script src="../../../../../Desktop/201603131609/js/ace.js"></script>
<script src="../../../../../Desktop/201603131609/js/marked.min.js"></script>
<script src="../../../../../Desktop/201603131609/dist/js/bootstrap-markdown-editor.js"></script>
<script>
window.onload=function(){
	
$('#myEditor').markdownEditor({
	imageInsert: true,
  imageUpload: true, // Activate the option
  uploadPath: 'upload.php' ,
  // Activate the preview:
  preview: true,
  // This callback is called when the user click on the preview button:
  onPreview: function (content, callback) {
 
    // Example of implementation with ajax:
    $.ajax({
      url: 'preview.php',
      type: 'POST',
      dataType: 'html',
      data: {content: content},
    })
    .done(function(result) {
      // Return the html:
      callback(result);
    });
 
  }
}); 
}
</script>
</head>
<body>

<div class="container" id="editor">
  <div id="myEditor"># Test</div>
</div> 

</body>
</html>
