
<!doctype html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>homePage</title>
<link href="../../../../../public/bootstrap-3.3.5-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="../../../../../public/stylesheets/homePage.css" rel="stylesheet" type="text/css" />

</head>
<body>
    <div class="container dropdown" style="margin-bottom: 50px">
       <h2 class="page-header">
           下拉菜单</h2>
       <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">字体<span class="caret"></span></a>
       <ul class="dropdown-menu">
           <li><a href="#">宋体</a></li>
           <li><a href="#">黑体</a></li>
           <li><a href="#">楷体</a></li>
       </ul>
   </div>
  <script src="../../../../../public/bootstrap-3.3.5-dist/js/bootstrap.min.js"></script>
  <script src="../../../../../public/jquery-3.0.0/jquery-3.0.0.min.js"></script>  
</body>
</html>